<div class="add-product">
    <p class="error">{{updatedMessage}}</p>
    
      
      
<form [formGroup]="addProduct" class="commen-form" (ngSubmit)="submit(addProduct.value)">
    <label class="title">Update Product</label>
    
<!-- Product Name -->
        <input class="form-input" type="text" id="name" formControlName="name"
               placeholder="Please Enter Product Name" required>
        <div class="invalid-input" *ngIf="addProduct.get('name').hasError('required') &&  addProduct.get('name').touched" >Product name is required
        </div>
        <div class="invalid-input" *ngIf="addProduct.get('name').hasError('alphabetOnly') && addProduct.get('name').touched">Name Should be Alphabat
        </div>

<!-- Brand Name  -->
    <div>
        <select class="form-input" formControlName="brand" id="brand">
            <option value="" disabled>Select a Category</option>
            <option *ngFor="let data of brandListData" [value]="data.brand" >{{data.brand}}</option>
        </select>
    </div>

<!--Price  -->
    <input class="form-input" type="text" name="price" id="price" formControlName="price"
        placeholder="Please Enter Price " required>
    <div class="invalid-input"
        *ngIf="addProduct.get('price').hasError('required') && addProduct.get('price').touched"> Price is required.
    </div>
    <div class="invalid-input"
        *ngIf="addProduct.get('price').hasError('numberOnly') && addProduct.get('price').touched">Price Must Be
        Number</div>

<!--Category  -->
    <div>
        <select id="category" formControlName="category" class="form-input" required>
            <option value="" disabled>Select a category</option>
            <option *ngFor="let data of CategoryListData" [value]="data.category" style="color: black;">{{ data.category }}
            </option>
        </select>

        <div class="invalid-input"
            *ngIf="addProduct.get('category')?.invalid && addProduct.get('category')?.touched">
            <div *ngIf="addProduct.get('category')?.hasError('required')">Category is required.</div>
        </div>
    </div>

<!-- Color -->
    <input class="form-input" type="text" id="color" formControlName="color" placeholder="Please Enter Color"
        required>
    <div class="invalid-input" *ngIf="addProduct.get('color').hasError('required') && addProduct.get('color').touched">Color is required </div>
    <div class="invalid-input" *ngIf="addProduct.get('color').hasError('alphabetOnly') && addProduct.get('color').touched">Color should be a Aplhabat </div>

<!-- Description -->
    <textarea class="form-input" type="text" id="description" formControlName="description" name="description"
        placeholder="Please Enter Description" required></textarea>
    <div class="invalid-input"
        *ngIf="addProduct.get('description').hasError('required') && addProduct.get('description')?.touched">
        Please Enter Valid Description</div>

    <!--Image  -->
    <!-- <label ><b>Image with type validation</b></label>
<input class="form-input" type="file" id="image" formControlName="image"  required >
<div class="invalid-input" *ngIf="addProduct.get('image').hasError('required') && addProduct.get('image').touched">Please Enter Valid Image </div>
<div class="invalid-input" *ngIf="addProduct.get('image').hasError('invalidFileType') && addProduct.get('image').touched">Please Enter Jpeg, Jpg, Png Type of Image </div> -->


    <!-- Image with Json server conection -->
    <label><b>Image with json server </b></label>
    <input type="text" class="form-input" formControlName="image" id="image" name="image"
        placeholder="Enter Product Image" required>
    <span class="invalid-input" *ngIf="addProduct.get('image')?.invalid && addProduct.get('image')?.touched">Please
        Enter Valid Image</span>
    <div *ngIf="addProduct.get('image').hasError('pattern')">Name must contain only letters.</div>


    <p>Form Status: {{ addProduct.status }}</p>
    <button class="form-button" type="submit" [disabled]="addProduct.invalid">Submit</button>
</form>
</div>