<div class="productlist">
    <div class="pro-list">
        <!-- Brand name khali Show karavanu che -->
        <h1 class="title">Brand List</h1>  
        <p class="delete-message">{{productMessage}}</p>

         <div class="mat-elevation-z8" >

          <div class="position-relative ">
            <button class="btn btn-primary position-absolute  end-0 " routerLink="/brand-add/">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg>
              Add Brand</button>
           </div>
           
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput placeholder="Search" (keyup)="Filterchange($event)">
          </mat-form-field>
          <!-- <button mat-raised-button color="primary">Primary</button> -->

          <table mat-table matSort [dataSource]="dataSource" >
              <!-- id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header  *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
              <!-- Brand Column -->
              <ng-container matColumnDef="brand">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Brand </th>
                <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
              </ng-container>
  
              <!-- Description Column -->
              <ng-container matColumnDef="description">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
            
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action </th>
                    <td mat-cell *matCellDef="let element"> 
                      <button mat-raised-button routerLink="/brand/{{element.id}}">Edit</button> | 
                      <button mat-raised-button color="warn" 
                      (click)="confirmDelete(element.id)" >Delete</button>
                    </td>
                </ng-container>

                <!-- <h1 mat-dialog-title>Delete file</h1>
                <div mat-dialog-content>
                  Would you like to delete cat.jpeg?
                </div>
                <div mat-dialog-actions>
                  <button mat-button mat-dialog-close>No</button>
                  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
                </div> -->
                
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
        </div>

    </div>
    </div>
    