.productlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: auto;
    width: 70%;
    margin-left: 358px;
    margin-top: -550px;
//   transform: translateY(-75%);
   }
   .title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}
   table{
       // display: flex;
       // flex-direction: column;
       // justify-content: center;
       text-align: left ;
       color: cadetblue;
   }
   .main-image{
    object-fit: contain;
    height: 100px;
    width: 150px;
   }
    img{
       height: 100px;
       width: 150px;
   }
   table td , table th{
       border: 1px solid silver;
       padding: 15px;
       width: 160px;
   }
   .delete-message{
       color: rgb(7, 125, 7);
   }
   .update-btn{
    //    color: blue;
       margin-left: 20px;
   }
   button:disabled{
    cursor: not-allowed;
   }