<div class="add-product">
    <h1 class="title">Add New Category</h1>
    <p class="error" >{{addProductMessage}}</p>
    <form #addProduct="ngForm" className="commen-form" (ngSubmit)="submit(addProduct.value)">
        <input class="form-input" ngModel  type="text" name="name" #name="ngModel"  placeholder="Enter Brand Name" required>
        <span class="invalid-input" *ngIf="name.invalid && (name.dirty || name.touched)" >Please Enter Valid Brand</span>

        <!-- <input class="form-input" ngModel  name="price" placeholder="Enter Product Price" #price="ngModel" required >
        <span class="invalid-input" *ngIf="name.invalid && (price.dirty || price.touched)" >Please Enter Valid Price</span> -->
        
        <input class="form-input" ngModel  name="category" placeholder="Enter Product Category" #category="ngModel" required >
        <span class="invalid-input" *ngIf="name.invalid && (category.dirty || category.touched)" >Please Enter Valid Category</span>

        <!-- <input class="form-input" ngModel  name="color" placeholder="Enter Product Color"  #color="ngModel" required >
        <span class="invalid-input" *ngIf="color.invalid && (color.dirty || color.touched)" >Please Enter Valid Color</span> -->

        <textarea class="form-input" ngModel  name="description" placeholder="Enter Product Description"></textarea>

        <input class="form-input"  ngModel  name="image" placeholder="Enter Product Image" #image="ngModel" required>
        <span class="invalid-input" *ngIf="image.invalid && (image.dirty || image.touched)" >Please Enter Valid Image</span>

        <button class="form-button" type="submit" [disabled]="addProduct.invalid">
            <span class=" spinner-border text-primary" role="status" *ngIf="sending"></span>
                {{sending ? 'please wait ' : 'Add Product' }}
           
        </button>
    </form>
</div>  
