<div class="add-product">
    
    <p class="error" >{{updatedMessage}}</p>
    <form #brandData="ngForm" class="comman-form"  (ngSubmit)="submit(brandData.value)">
        <input  ngModel="{{productData.name}}" type="text" name="name" #name="ngModel" placeholder="Enter Product Name" required="name" >
        <span class="invalid-input" name="name" *ngIf="name.invalid && (name.dirty || name.touched)">Please Enter Valid Name</span>
        <!-- <input class="form-input" ngModel="{{productData?.price}}"  name="price" placeholder="Enter Product Price"> -->
       <input class="form-input" type="text" ngModel="{{productData.category}}" #category="ngModel"  name="category"  placeholder="Please Enter Catagory"  required="category" >
       <span class="invalid-input" name="category" *ngIf="category.invalid && (category.dirty || category.touched)" >Please Enter Valid Catagory</span>

        <!-- <input class="form-input" ngModel="{{productData?.category}}"  name="color" placeholder="Enter Product Color"> -->
        <!-- <textarea class="form-input" ngModel="{{productData?.description}}"  name="description" placeholder="Enter Product Description"></textarea> -->
        <!-- <input class="form-input" ngModel="{{productData?.image}}"  name="image" placeholder="Enter Product Image"> -->
        <button class="btn btn-success mt-1" type="submit" [disabled]="brandData.invalid">Update Brand</button>
    </form>

</div>
