.add-product{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    // margin-top: -450px;
    // z-index: 99999;
    // position: relative;
}
.brand-title{
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
}
.invalid-input{
    color: red;
    font-weight: bold;
}
.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-top: 100px;
}
.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    width: 250px;
    border-radius: 5px;
}
.form-button{
    height: 35px;
    width: 250px;
    background-color: rgb(163, 168, 186);
    border-radius:10px ;
    color: black;
    margin-top: 10px;
}

.comman-form{
    display: flex;
    flex-direction: column;
    width: 210px;
  
}
.input-brand{
    border-radius: 5px;
}