<div class="add-product">
    <h1 class="title">Add New Brands</h1>
    <p class="error" >{{addProductMessage}}</p>
    <form #addProduct="ngForm" className="commen-form" (ngSubmit)="submit(addProduct.value)">

        <input class="form-input" ngModel  type="text" name="brand" #brand="ngModel"  placeholder="Enter Brand name"
        pattern="^[a-zA-Z ]*$" required>
        <div class="form-input" *ngIf="brand.invalid && (brand.dirty || brand.touched)" >
            <div class="invalid-input" *ngIf="brand.errors?.['required']" >Name is required</div>
            <div class="invalid-input" *ngIf="brand.errors?.['pattern']">Name must be an Aplhabat</div>
        </div>
        
        <input class="form-input" ngModel  name="description" placeholder="Please Enter Description" #description="ngModel"
        pattern="^[a-zA-Z ]*$" required >
        <div class="form-input" *ngIf="description.invalid && (description.dirty || description.touched)" >
            <div class="invalid-input" *ngIf="description.errors?.['required']" >Description is required</div>
            <div class="invalid-input" *ngIf="description.errors?.['pattern']">Description must be an Aplhabat</div>
        </div>

       
        <button class="form-button" type="submit" [disabled]="addProduct.invalid">
            <span class=" spinner-border text-primary" role="status" *ngIf="sending"></span>
                {{sending ? 'please wait ' : 'Update Brand' }}
        </button>
    </form>
</div>  
