.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
   .navbar{
    height: 50px;
   }
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  // Chart.js
  .canvas-style{
    width: 40%;
    box-shadow: white;
    // margin-left: 400px;
    
  }
  #canvas{
      border: 1px   black;
      box-sizing: content-box;
  }
  html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  z-index: 999999;
  // position: relative;
}
.nav-item .nav-link :hover{
background-color: aliceblue;

}

