// body {
//     font-family: "Lato", sans-serif;
//   }
// .sidenav .sidebar-open { 
//   width: 250px;
// }
// .sidenav .sidebar-close { 
//     width: 0px;
// }
//   .sidenav {
//     height: 100%;
//     width: 250px;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     background-color: #111;
//     overflow-x: hidden;
//     transition: 0.5s;
//     padding-top: 60px;
//     // text-align: center;
//     margin: auto;
//   }

//   .sidenav a {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//     transition: 0.3s;
//   }

//   .sidenav a:hover {
//     color: #f1f1f1;
//   }

//   .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 200px;
//     z-index: 99999;
//   }

//   .sidenav .icon {
//      display: none;
//   }

//   @media screen and (max-height: 450px) {
//     .sidenav {padding-top: 15px;}
//     .sidenav a {font-size: 18px;}
//   }


//   @media screen and  (max-width: 600px)  {
//     .sidenav a {display: none;}
//     .sidenav {width: 50px;}
//     .sidenav a.icon  {
//         float: right;
//         display: block;
//         position: absolute;
//         top: 5px;
//     }
//   }
// ------------------------------------------------------------------------------------------------------
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
    text-align: center;
    margin: auto;
}

.navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }
    .navbar {
        width: 80px;
    }
    .navbar a.icon {
        float: left;
        display: block;
        position: absolute;
        top: 0px;
        background-color: #111;
        color: white;
    }
    .navbar.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: left;
        display: block;
        text-align: center;
    }
    .navbar.responsive {
        width: 150px;
        display: block;
        text-align: center;
    }
}