<div class="main">

<!-- Sales and purchase Design  -->
  <div class="d-flex justify-content-around  ">

    <div class="card">

          <div class="card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="50" fill="currentColor" class="bi bi-cart3 bg-danger"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1.49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491- .408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </div>

          
          <div class="card-text">
            <div class="content"><span>Latest Sales</span><br><span>10</span></div>
            <div class="btnAll"><button class="btn btn-outline-danger">view All</button></div>
          </div>
        </div>

    <div class="card">

          <div class="card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="50" fill="currentColor"
              class="bi bi-person-workspace bg-success" viewBox="0 0 16 16">
              <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
              <path
                d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
            </svg>
          </div>

          <div class="card-text">
            <div class="content"><span>sales Return</span><br><span>10</span></div>
            <div class="btnAll"><button class="btn btn-outline-success">view All</button></div>
          </div>

        </div>

    <div class="card">

            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="60" height="50" fill="currentColor"
                class="bi bi-receipt-cutoff bg-info" viewBox="0 0 16 16">
                <path
                  d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                <path
                  d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z" />
              </svg>
            </div>

            <div class="card-text">
              <div class="content"><span>Purchases</span><br><span>10</span></div>
              <div class="btnAll"><button class="btn btn-outline-info">view All</button></div>
            </div>

    </div>

    <div class="card">

          <div class="card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="50" fill="currentColor"
              class="bi bi-arrow-return-right bg-primary" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
            </svg>
          </div>

          <div class="card-text">
            <div class="content"><span>Purchases Return</span> <span> 10</span></div>
            <div class="btnAll"><button class="btn btn-outline-primary">view All</button></div>
          </div>

    </div>

  </div>


<!-- Chart and Table -->

<div class="d-flex justify-content-around justify-content-center  ">
  <!-- graf -->
    <div class="canvas-style">
      <h2>Monthly Sell and Puchase Report (Last 12 months)</h2>
      <canvas id="canvas">{{chart}}</canvas>
    </div>

  <!-- Table 1 -->
    <div class="table">
      <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="perodicData">

          <ng-container matColumnDef="weight">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Weight. </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <ng-container matColumnDef="symbol">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

</div>
 

  

  <div class="main-table">
    <!-- Table 2 -->

    <div class="table1">
      <div class="mat-elevation-z8">
        <h2 class="d-flex justify-content-center">Table 2</h2>

        <table mat-table matSort [dataSource]="perodicData1">

          <ng-container matColumnDef="weight">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Weight. </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <ng-container matColumnDef="symbol">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

    <!-- Table 3 -->
    <div class="table2">
      <div class="mat-elevation-z8">
        <h2 class="d-flex justify-content-center">Table 3</h2>
        <table mat-table matSort [dataSource]="perodicData2">

          <ng-container matColumnDef="weight">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Weight. </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <ng-container matColumnDef="symbol">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

  </div>
</div>